
*.png
*.html
*.js
*.css
*.xml
.DS_Store
*.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
*.log
.idea/workspace.xml
Doc/html/formula.repository
.idea/workspace.xml
.idea/workspace.xml
